/* Estilos para dispositivos de largura maior que 768px */
main {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

h2 {
  max-width: 80%;
  margin: auto;
  font-size: 25px;
  font-family: Inter;
  margin-bottom: 20px;
}

ul.produtos {
  width: 100%;
  max-width: 90%;
  margin: 0 0 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
}

ul.produtos li {
  width: 100%;
  max-width: 95%;
  /* background-color: #f2f2f2; */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: #000;
  box-shadow: inset 0em 0em 0.2em black;
}

ul.produtos img {
  width: 100px;
  height: 130px;
  max-width: 90%;
  border-radius: 10px;
}

ul.produtos li .image-product {
  text-align: center;
}

ul.produtos li h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul.produtos li p {
  margin: 0;
}

.produto-preco {
  font-size: 1.2rem;
  font-family: Inter;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.buy-button,
.add-to-cart-button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-family: Inter;
}

.buy-button {
  background-color: rgb(122, 23, 220);
  color: #fff;
}

.add-to-cart-button {
  background-color: #fff;
}


/* CSS FORM */

.form {
  width: 100%;
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form h3 {
  font-family: Inter;
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 90.023%;
  color: rgb(122, 23, 220);

  background: var(--gradient, linear-gradient(180deg, #6C34A4 0%, #8008F9 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* Estilos para dispositivos de largura menor ou igual a 768px */
@media (max-width: 768px) {
  .form {
    display: block;
  }

  .form h3 {
    font-size: 80px;
    margin-top: 50px;
  }

  h2 {
    font-size: 18px;
  }

  ul.produtos {
    width: 100%;
    margin: 0 0 0 auto;
  }

  ul.produtos li h2 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .buy-button,
  .add-to-cart-button {
    width: 100%;
    height: 25px;
    border: none;
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
  }

  ul.produtos img {
    width: 90px;
    height: 90px;
  }

  ul.produtos li {
    width: 100%;
    max-width: 95%;
  }
}

@media (max-width: 900px) {
  ul.produtos {
    width: 100%;
  }

  ul.produtos li h2 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .buy-button,
  .add-to-cart-button {
    width: 100%;
    height: 25px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
  }

  ul.produtos img {
    width: 100px;
    height: 100px;
  }

  ul.produtos li {
    width: 100%;
    max-width: 90%;
  }
}

@media (max-width: 1120px) {
  ul.produtos {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  }

  ul.produtos li h2 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .buy-button,
  .add-to-cart-button {
    width: 100%;
    height: 25px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
  }

  ul.produtos img {
    width: 100px;
    height: 100px;
  }

  ul.produtos li {
    width: 100%;
    
  }
}











